<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Informacion</h6>
        <p class="text-justify">Pagina desarrollada en Angular por Sebastian Salazar - 20172020016</p>
        <p class="text-justify">Contacto:<a href="#"> salazars804@gmail.com</a></p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tematicas</h6>
        <ul class="footer-links">
          <li><a href="#">PNLS</a></li>
          <li><a href="#">PNLC</a></li>
          <li><a href="#">PNLF</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Videos de las tematicas</h6>
        <ul class="footer-links">
          <iframe class="embed-responsive-item" src="https://www.infobae.com/new-resizer/qo8D6WRUnyLucrSa76XPgTpse54=/420x236/filters:format(jpg):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/D6C4XHO2RRFFJPNGPS5X6HRF2Q.gif"></iframe>
          <iframe class="embed-responsive-item" src="https://media.tenor.com/images/904bd2466bc3d54df7b10e6be7776bc9/tenor.gif"></iframe>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 - Footer por
          <a href="#">Scanfcode</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
